
@import 'reset';

body {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  padding: 20px;
  text-align: center;
}



.battleground {
  border: solid 1px #000;
  overflow: auto;
}

.monster-box {
  outline: solid 1px #CCC;
  float: left;
  min-height: 300px;
  width: 50%;

  h2 {
    background-color: #000;
    color: #FFF;
    padding: 10px 5px;
    text-align: center;
  }

  .monster-holder {
    display: block;
    height: 120px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
    width: 100px;
  }

  .hit-points {
    background-color: #000;
    bottom: 0;
    color: #FFF;
    left: 0;
    padding: 5px 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  .monster-messaging {
    padding: 15px;
    text-align: center;
  }

  .avatar {
    width: 100%;
  }
}

.controls {
  clear: left;
  padding: 10px 0;
  text-align: center;
}
